/* .flex {
    display: flex;
  }
  
  .h-screen {
    height: 100vh;
  }
    .text-white {
        color: white;
    }
  .bg-gray-100 {
    background-color: #283945;
    }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .font-sans {
    font-family: sans-serif;
  }
   */